<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>编辑线程池</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .modal-body-small {
            font-size: 0.9rem; /* 调整提示字体大小 */
        }
        .modal-title-centered {
            text-align: center; /* 标题居中 */
            width: 100%;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4 text-center">编辑线程池【 <span style="color: red;" th:text="${threadPool.getPoolName()}"></span>】
    </h1>

    <!-- 错误消息显示区域 -->
    <div th:if="${error}" class="alert alert-danger" role="alert">
        <span th:text="${error}"></span>
    </div>

    <form id="threadPoolForm" th:action="@{/thread-pool/modify}" method="post" class="needs-validation mb-5" novalidate>
        <input type="hidden" name="poolName" th:value="${threadPool.getPoolName()}"/>
        <div class="form-group">
            <label for="corePoolSize">核心线程数:</label>
            <input type="number" class="form-control" id="corePoolSize" name="corePoolSize"
                   th:value="${threadPool.getCorePoolSize()}" min="0" max="2000" required
                   oninvalid="this.setCustomValidity('请输入一个在0到2000之间的数值')" oninput="setCustomValidity('')"/>
            <div class="invalid-feedback">请输入一个在0到2000之间的数值</div>
        </div>
        <div class="form-group">
            <label for="maxPoolSize">最大线程数:</label>
            <input type="number" class="form-control" id="maxPoolSize" name="maxPoolSize"
                   th:value="${threadPool.getMaxPoolSize()}" min="1" max="2000" required
                   oninvalid="this.setCustomValidity('请输入一个在1到2000之间的数值')" oninput="setCustomValidity('')"/>
            <div class="invalid-feedback">请输入一个在1到2000之间的数值</div>
        </div>
        <div class="form-group">
            <label for="keepAliveTimeMs">存活时间(ms):</label>
            <input type="number" class="form-control" id="keepAliveTimeMs" name="keepAliveTimeMs"
                   th:value="${threadPool.getKeepAliveTimeMs()}" min="0" max="72000000" required
                   oninvalid="this.setCustomValidity('请输入一个在0到72000000之间的数值')"
                   oninput="setCustomValidity('')"/>
            <div class="invalid-feedback">请输入一个在0到72000000之间的数值</div>
        </div>
        <div class="form-group">
            <label for="workQueueType">工作队列类型:</label>
            <select class="form-control" id="workQueueType" name="workQueue.type" onchange="toggleWorkQueueCapacity()"
                    required>
                <option th:value="LinkedBlockingQueue" th:text="'LinkedBlockingQueue'"
                        th:selected="${threadPool.getWorkQueue().getType() == 'LinkedBlockingQueue'}"></option>
                <option th:value="ArrayBlockingQueue" th:text="'ArrayBlockingQueue'"
                        th:selected="${threadPool.workQueue.type == 'ArrayBlockingQueue'}"></option>
                <option th:value="SynchronousQueue" th:text="'SynchronousQueue'"
                        th:selected="${threadPool.workQueue.type == 'SynchronousQueue'}"></option>
                <option th:value="PriorityBlockingQueue" th:text="'PriorityBlockingQueue'"
                        th:selected="${threadPool.workQueue.type == 'PriorityBlockingQueue'}"></option>
            </select>
        </div>
        <div class="form-group" id="workQueueCapacityGroup">
            <label for="workQueueCapacity">工作队列容量:</label>
            <input type="number" class="form-control" id="workQueueCapacity" name="workQueue.capacity"
                   th:value="${threadPool.getWorkQueue().getCapacity()}" min="1" max="4096" required
                   oninvalid="this.setCustomValidity('请输入一个在1到4096之间的数值')" oninput="setCustomValidity('')"/>
            <div class="invalid-feedback">请输入一个在1到4096之间的数值</div>
        </div>
        <div class="form-group">
            <label for="policy">拒绝策略:</label>
            <select class="form-control" id="policy" name="policy" required>
                <option th:value="CallerRunsPolicy" th:text="'CallerRunsPolicy'"
                        th:selected="${threadPool.getPolicy() == 'CallerRunsPolicy'}"></option>
                <option th:value="AbortPolicy" th:text="'AbortPolicy'"
                        th:selected="${threadPool.getPolicy() == 'AbortPolicy'}"></option>
                <option th:value="DiscardPolicy" th:text="'DiscardPolicy'"
                        th:selected="${threadPool.getPolicy() == 'DiscardPolicy'}"></option>
                <option th:value="DiscardOldestPolicy" th:text="'DiscardOldestPolicy'"
                        th:selected="${threadPool.getPolicy() == 'DiscardOldestPolicy'}"></option>
            </select>
        </div>
        <div class="form-group">
            <label>是否开启监控:</label>
            <div class="custom-control custom-switch">
                <!-- 隐藏字段：默认值为 false -->
                <input type="hidden" name="monitor.enabled" value="false"/>
                <input type="checkbox" class="custom-control-input" id="monitorEnabled" name="monitor.enabled"
                       th:checked="${threadPool.getMonitor().getEnabled()}" onclick="toggleMonitorTimeWindow()"
                       th:value="true"/>
                <label class="custom-control-label" for="monitorEnabled"></label>
            </div>
        </div>
        <div class="form-group" id="timeWindowGroup" style="display: none;">
            <label for="timeWindowSeconds">监控时间窗口(秒):</label>
            <input type="number" class="form-control" id="timeWindowSeconds" name="monitor.timeWindowSeconds"
                   th:value="${threadPool.getMonitor().getTimeWindowSeconds()}" min="1" max="10" required
                   oninvalid="this.setCustomValidity('请输入一个在1到10之间的数值')" oninput="setCustomValidity('')"/>
            <div class="invalid-feedback">请输入一个在1到10之间的数值</div>
        </div>
        <div class="form-group" id="monitorUrlGroup" style="display: none;">
            <label for="monitorUrl">监控地址:</label>
            <input type="url" class="form-control" id="monitorUrl" name="monitor.monitorUrl"
                   th:value="${threadPool.getMonitor().getMonitorUrl()}"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">保存</button>
            <a href="/thread-pool" class="btn btn-secondary">取消</a>
            <a href="/thread-pool" class="btn btn-info">返回首页</a>
        </div>
    </form>
</div>

<!-- Bootstrap 模态框 -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-centered" id="confirmationModalLabel">确认更改</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body-small">
                修改队列参数会<span class="text-danger">创建新的线程池</span>，旧线程池队列中的任务会被转移到新线程池，旧线程池会被<span class="text-danger">关闭</span>。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="confirmButton">确认</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    let originalWorkQueueType;
    let originalWorkQueueCapacity;
    let formSubmitted = false;

    function toggleMonitorTimeWindow() {
        const monitorEnabled = document.getElementById('monitorEnabled').checked;
        const timeWindowGroup = document.getElementById('timeWindowGroup');
        const monitorUrlGroup = document.getElementById('monitorUrlGroup');
        const timeWindowInput = document.getElementById('timeWindowSeconds');
        if (monitorEnabled) {
            timeWindowGroup.style.display = 'block';
            monitorUrlGroup.style.display = 'block';
            // 如果监控时间窗口以前没有值，则设置默认值为3
            if (!timeWindowInput.value) {
                timeWindowInput.value = 3;
            }
        } else {
            timeWindowGroup.style.display = 'none';
            monitorUrlGroup.style.display = 'none';
        }
    }

    function toggleWorkQueueCapacity() {
        const workQueueType = document.getElementById('workQueueType').value;
        const workQueueCapacityGroup = document.getElementById('workQueueCapacityGroup');
        const workQueueCapacityInput = document.getElementById('workQueueCapacity');
        if (workQueueType === 'SynchronousQueue') {
            workQueueCapacityGroup.style.display = 'none';
            document.getElementById('workQueueCapacity').removeAttribute('required');
        } else {
            workQueueCapacityGroup.style.display = 'block';
            document.getElementById('workQueueCapacity').setAttribute('required', 'required');
            // 如果工作队列容量以前没有值，则设置默认值为64
            if (!workQueueCapacityInput.value) {
                workQueueCapacityInput.value = 64;
            }
        }
    }

    window.onload = function () {
        toggleMonitorTimeWindow();
        toggleWorkQueueCapacity();
        addBlurEventListeners();

        // 保存原始的工作队列参数值
        originalWorkQueueType = document.getElementById('workQueueType').value;
        originalWorkQueueCapacity = document.getElementById('workQueueCapacity').value;
    }

    function addBlurEventListeners() {
        document.querySelectorAll('input[type="number"]').forEach(function (input) {
            input.addEventListener('blur', function () {
                if (!input.checkValidity()) {
                    input.classList.add('is-invalid');
                } else {
                    input.classList.remove('is-invalid');
                }
            });
        });
    }

    document.getElementById('threadPoolForm').addEventListener('submit', function (event) {
        // 获取复选框
        const checkbox = document.querySelector('input[name="monitor.enabled"][type="checkbox"]');
        // 如果复选框被选中，移除隐藏字段
        if (checkbox.checked) {
            const hiddenField = document.querySelector('input[name="monitor.enabled"][type="hidden"]');
            if (hiddenField) {
                hiddenField.parentNode.removeChild(hiddenField);
            }
        }

        const newWorkQueueType = document.getElementById('workQueueType').value;
        const newWorkQueueCapacity = document.getElementById('workQueueCapacity').value;

        if (newWorkQueueType !== originalWorkQueueType || newWorkQueueCapacity !== originalWorkQueueCapacity) {
            event.preventDefault();
            $('#confirmationModal').modal('show');
            return;
        }

        if (!this.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
            this.classList.add('was-validated');
        }
    });

    document.getElementById('confirmButton').addEventListener('click', function () {
        formSubmitted = true;
        $('#confirmationModal').modal('hide');
        document.getElementById('threadPoolForm').submit();
    });

    $('#confirmationModal').on('hidden.bs.modal', function () {
        if (formSubmitted) {
            document.getElementById('threadPoolForm').submit();
        }
    });
</script>
</body>
</html>
